body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

img{

    max-width: 450px;
}

.intro{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.header{
    
    font-family: Roboto, Arial, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;


}
.header-logo{
    font-size: 24px;
    color: #f9faf8;

}

.header-links{

    display: flex;
    gap: 10px;
}
.header-links , .header-subtext{
    font-size: 18px;
    color: #e5e7eb;
}

.header-info{

display: flex;
justify-content: center;
align-items: center;
gap: 25px;
padding: 50px 50px;

}

.left-content{
    display: flex;
    flex-direction: column;
}

.header-maintext{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
    max-width: 600px;
}

.header-subtext{
    margin-bottom: 10px;
    max-width: 400px;

}

.sign-up{
    border-radius: 10px;
    padding: 5px 15px;
    cursor: pointer;
    width: fit-content;
    
}
.header-mainimage img{
    display: block;
    width: 450px;
    border-radius: 5px;
}

ul{

    list-style: none;

}

a{
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}


.content-header{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 25px;

}

.images{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.content-img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
}
.text{
    width: 200px;
}

.quote-content{

  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  text-align: center;


}

.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1f2937;
    margin-bottom: 5px;
    width: 800px;
}

.quote-attribution{
    font-weight: bold;
    font-size: 18px;
    margin-left: 400px;
    

}


.Newsletter{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    color: #f9faf8;
    margin: 75px auto;
    padding: 30px;
    border-radius: 15px;
    gap: 100px;
    
}
.newsletter-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    max-width: 700px
}

.action{
    font-weight: 900;
}

.email{
    font-weight: lighter;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 15px;
    flex-shrink: 0;
}

button {
    background-color: #3882F6;
    color: white;

 }